<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bring in our bootstrap stylesheet -->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
<!-- Bringing leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

<!-- CSS - Style -->
<link rel="stylesheet" type="text/css" href="./map_style.css" />
</head>

  <!-- Body -->
<body>
    <!-- Plotly place holder-->
    <div id="plot"></div>
    <script src="#"></script>


    <!-- Page -->
    <div class="container-fluid">
      <!-- Navbar -->
      <div class="pos-f-t sticky-top">
        <div class="collapse" id="navbarToggleExternalContent">
          <nav class="navbar navbar-expand navbar-light bg-light">
            <div class ="container-fluid">
              <a class="navbar-brand" href="#">Happiness Index</a>
              <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarNavTogglerDemo02" 
              aria-controls="navbarTogglerDemo02" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo2">
                <ul class="navbar-nav ml-auto smooth-scroll">
                  <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="./stats.html">Stats</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="./map.html">Maps</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link active" href="./indicators.html">Indicators</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
      <!-- header -->
      <div class="row">
        <div class="col-12">
            <div class="jumbotron p-3 p-md-5" style="background-image: url('https://hbr.org/resources/images/article_assets/2018/10/oct18_26_1040319418.jpg'); background-size: cover;">
                <div class="col-12" style="background-color: rgba(0,0,0, 0.4);">
                    <h1 class="display-4 text-white">Happiness Indicator</h1>
                    <p class="lead text-light my-3"> More than simply positive mood, happiness is a state 
                      of well-being that encompasses living a good life, one with a sense of 
                      meaning and deep contentment.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
     
      <div id="map"></div>

    <!-- API key -->
    <script type="text/javascript" src="map_config.js"></script>
    <!-- Our JS -->
    <script type="text/javascript" src="map_logic.js"></script>

</div>







  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" ></script>
</body>
</html>
