/* remove default margin and padding from body */
body {
<<<<<<< HEAD
  padding: 10;
  margin: 10;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 500px;
}

h1 {
  text-align: center;
}
=======
    padding: 10;
    margin: 10;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 90%;
  }
  
  h1 {
    text-align: center;
  }
>>>>>>> 557bdc834d02e12f21b6db13b89971160a17eaca
