/* 
.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

/* Visualization - Color Palette */
/* .bg_redish {
  background: #ff5345;
}
.bg_orange {
  background: #ffb55a;
}
.bg_pink {
  background: #f8dabf;
}

.bg_green {
  background: #b7d124;
}

.bg_gray {
  background: #e4e4e4;
} */

/* Page Color Palette */

/* .bg_dr_blue {
  background-color: #357cbf;
}

.bg_lgt_blue {
  background-color: rgb(167 164 223);
}

.bg_slgt_blue {
  background-color: rgb(217 224 234);
}

.bg_off_white {
  background-color: rgb(248 248 246);
}

.bg_lgt_gray {
  background-color: rgb(217 218 217);
} */


/* sidebar and title */

/* html,
body,
main.container {
	height: 100%;
}

main.container {
	display: table;
	width: 100%;
	margin-top: -50px;
	padding: 0;
	/*set left/right padding according to needs*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

main .row {
	height: 100%;
	display: table-row;
}

main .sidebar {
	display: table-cell;
	width: 200px;
	background: #383435;
	color: #aaa;
	padding-top: 80px;
}

main .content {
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 80px;
} */ */